<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h1>Create Product</h1>
<p>
    <a href="/products">Product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-product}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Product name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${category}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Product prince:</td>
            <td><input type="text" th:field="*{prince}"/></td>
        </tr>
        <tr>
            <td>Product count:</td>
            <td><input type="text" th:field="*{count}"/></td>
        </tr>
        <tr>
            <td>description:</td>
            <td><textarea type="text" th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Product"></td>
        </tr>

    </table>
</form>
</body>
</html>